@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

*{
	padding:0px;
	margin:0px;
}

ul li{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	font-family: arial;
}

.header{
	padding:25px 0px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	text-align: center;
	display: none;
}

.header ul li{
	display: inline-block;
}

.header input[type='text'],.header input[type='date']{
	border:1px solid #ddd;
	background:#fff;
	padding:10px 5px;
	border-radius: 3px;
	margin-left: 5px;
	width: 90%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

.header input[type='submit']{
	border:1px solid #7f8c8d;
	border-radius: 3px;
	padding:8px 20px;
	color:#fff;
	background: #95a5a6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#95a5a6, #7f8c8d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#95a5a6, #7f8c8d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#95a5a6, #7f8c8d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#95a5a6, #7f8c8d); /* Standard syntax */
	cursor: pointer;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;

}

.header input[type='submit']:hover{
	background: #7f8c8d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#7f8c8d, #95a5a6,#7f8c8d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#7f8c8d, #95a5a6,#7f8c8d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7f8c8d, #95a5a6,#7f8c8d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7f8c8d, #95a5a6,#7f8c8d); /* Standard syntax */
}


.result-container{/* div containig all the results*/
	width: 70%;
	margin: 20px auto;
}

.result-container div{
	width: 90%;
	margin:0px auto;
	font-family: 'Source Sans Pro', sans-serif;
}

div table,div table tr,div table tr td{
	border:0px solid #000;
	padding:15px 5px;
	border-collapse: collapse;
	font-family: 'Source Sans Pro', sans-serif;
}

div table tr{
	border:1px solid #ddd;
}

.bname{
	font-size: 16px;
	font-weight: normal;
}

.btype{
	color:#16a085;
	font-size: 12px;
	cursor: pointer;
}

.info{
	color: #2c3e50;
	cursor: pointer;
}

.price-type{
	color:#16a085;
	cursor: pointer;
}

.view{
	color:#d35400;
	cursor: pointer;
}

.center{
	text-align: center;
}

.select{
	cursor: pointer;
	background: #1abc9c;
	background: linear-gradient(#1abc9c,#16a085);
	padding:4px 20%;
	color:#fff;
	border-radius: 3px;
}

.select a{
	color:#fff;
}

.select:hover{
	background: #16a085;
	background: linear-gradient(#16a085,#1abc9c);
}

.result-found{
	width: 63%;
	padding:10px 0px;
	border:1px solid #ddd;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	cursor: pointer;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

.div1{
	width:25%;
	background: #fff;
	float: left;
	height: 80vh;
	border:1px solid #ddd;
	margin-right: 2%;
}

.div2{
	width:45%;
	background: #fff;
	float: left;
	height: 80vh;
	margin-right: 2%;
	border:1px solid #ddd;
}

.div3{
	width:25%;
	background: #fff;
	float: left;
	height: 80vh;
	border:1px solid #ddd;
}

.divcontainer{
	width: 95%;
	margin:10px auto;
	background: black;
}


.divheader{
	padding:10px 0px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.route-info{
	text-align: center;
	padding-top: 10px;
}

.pricetag{
	width: 90%;
	margin:10px auto;
}

.pricetag input[type='text']{
	text-align: center;
	border:1px solid blue;
	background: #fff;
	font-size: 17px;
	color:darkblue;
	padding:10px 5px;
}

.importantInfo{
	width: 90%;
	margin:5px auto;
}

.importantInfo table,.importantInfo table tr,.importantInfo table,.importantInfo table tr td{
	border:none;
}


.importantInfo input[type='text'],.importantInfo input[type='phone']{
	background: #fff;
	border:1px solid #ddd;
	width: 90%;
	font-size: 16px;
	padding:10px 5px;
}

.importantInfo input[type='text']:focus,.importantInfo input[type='phone']:focus{
	border:1px solid blue;
}


.submitbtn{
	text-align: center;
}

.importantInfo input[type='submit']{
	border:none;
	font-size: 16px;
	background: linear-gradient(#eee,#ddd);
	padding:7px 20px;
	border-radius: 3px;
	cursor: pointer;
}

.importantInfo input[type='submit']:hover{
	background: #eee;
}

.toggleModify{
	font-family: 'Lato', sans-serif;
	background: #333;
	color:#fff;
	text-align: center;
	padding: 13px 0px;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}

.toggleModify a{
	color:#fff;
}

#home{
	float: right;
	padding-right: 20px;
}

#home:hover{
	transform: scale(1.2);
}

.forminformation{
	text-align: center;
	margin-top: 50px;
}

.forminformation form input[type='text'],.forminformation form input[type='phone'],.forminformation form input[type='email']{
	background: #fff;
	border:1px solid #95a5a6;
	padding:13px 7px;
	font-size: 18px;
	color:#333;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
	width: 50%;
}

.forminformation form input[type='text']:focus,.forminformation form input[type='phone']:focus,.forminformation form input[type='email']:focus{
	border:1px solid #2980b9;
}

.forminformation  select{
	width: 51%;
	padding:15px 5px;
	font-size: 20px;
	background: #eee;
	cursor: pointer;
	border:1px solid #95a5a6;
}

.bookingfor{
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-bottom: 10px;
}

.proceedbtn{
	transition: .35s ease-out;
	background: #16a085;
	color: #fff;
	font-size: 17px;
	padding:15px 0px;
	width: 30%;
	margin:30px auto;
	cursor: pointer;
}


.proceedbtn:hover{
	transition: .35s ease-in;
	background: #1abc9c;
}

.confirmBox{
	background: #eee;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 90vh;
	border-bottom: 2px solid #16a055;
	display: none;
	overflow: auto;
	user-select: none;
}

.closeConfirm{
	margin-top: 20px;
	width: 20%;
	color:#fff;
	padding:13px 0px;
	background:linear-gradient(#e74c3c,#c0392b);
	cursor: pointer;
	border-radius: 3px;
	margin:15px auto 20px auto;
	user-select: none;
}

.closeConfirm:hover{
	background: #e74c3c;
}

.contentconfirmbox{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#contentconfirmT{
	margin:0px auto;
	width: 60%;
	user-select: none;
}

#contentconfirmT table,#contentconfirmT table tr,#contentconfirmT table tr td{
	border:1px solid #ddd;
	border-collapse: collapse;
	border-radius: 3px;
	text-align: left;
	padding-left: 20px;
	font-size: 17px;
	user-select: none;
}


.btnsbmit input[type='submit']{
	background: linear-gradient(#1abc9c,#16a085);
	padding:13px 0px;
	width: 20%;
	cursor: pointer;
	border-radius: 3px;
	color:#fff;
	font-size: 16px;
	margin-top: 20px;
	border:none;
	margin-bottom: 10px;
	user-select: none;
}

.btnsbmit input[type='submit']:hover{
	background: #1abc9c;
}


.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
}

.green{
	color:green;
}

.imageholder{
	display: none;
}

.sucessfull{
	font-size: 19px;
	font-family: 'monospace',arial;
}

.howtopay{
	width: 35%;
	padding:10px 0px;
	text-align: center;
	background: linear-gradient(#1abc9c,#16a085);
	margin:15px auto;
	font-family: arial;
	font-size: 15px;
	cursor: pointer;
	color:#fff;
}












@media only screen and (max-width: 768px){
	.header ul li{
	display: block;
	margin-bottom: 5px;
}

.result-found{
	width: 97%;

}

.result-container{/* div containig all the results*/
	width: 100%;
	margin: 20px auto;
}

.result-container div{
	width: 100%;
	font-size: 14px !important;
}

div table tr{
	border-left: none;
	border-right: none;
}

.divcontainer{
	width: 100%;
}

.forminformation form input[type='text'],.forminformation form input[type='phone']{
	padding:13px 5px;
	font-size: 17px;
	width: 80%;
}

.forminformation  select{

}

#contentconfirmT{
	width: 99%;
}

.closeConfirm{
	width: 50%;
}

.btnsbmit input[type='submit']{
	width: 50%;
}


}