		/*
		 ****************************************************
		 * 		Tiebus About Us CSS content 				*
		 * 		All rights reserved							*
		 ****************************************************
		 													*/

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
	padding:0px;
	margin: 0px;
}
html {
	overflow-x: hidden; 
}
body{
	font-family: 'sans-serif',arial,monospace;
	background-color: #eee;
}

a{
	text-decoration: none;
}

a li{
	color:#000;
}

li{
	list-style: none;
}

.header{
	height: 90vh;
	background: linear-gradient(
      rgba(10, 10, 10, 0.6), 
      rgba(10, 10, 10, 0.6)
    ),url(../image/bus.jpg) no-repeat center;
	background-size: cover;
	display: block;
}

.header > .title {
	display: block;
	position: relative;
	left: 43%;
	top: 5em;
}

.header > .scroll {
	display: block;
	position: relative;
	left: 47%;
	top: 21em;
}

@media (max-height: 600px) {
	.header > .scroll {
		top: 15em;
	}
}

@media (max-height: 400px) {
	.header > .scroll {
		top: 10em;
	}	
}

.title span {
	color:#eee;
	text-align: center;
	padding-top: 50px;
	font-size: 40px;
	font-family: 'Lato', sans-serif;
}

div.scroll > ul li span i {
	color: #eee;
	opacity: 0.3;
}

#home {
	position: relative;
	top: -270px;
	left: 0;
	bottom: 0;
	transition-property: left top;
	transition-duration: 2s;
	transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
}

#ticket {
	position: relative;
	top: -270px;
	left: 0;
	bottom: 0;
	transition-property: left top;
	transition-duration: 2.5s;
	transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
}

#contact {
	position: relative;
	top: -270px;
	left: 0;
	bottom: 0;
	transition-property: left top;
	transition-duration: 2s;
	transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
}

#login {
	position: relative;
	top: -270px;
	left: 0;
	bottom: 0;
	transition-property: left top;
	transition-duration: 2.5s;
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
}
.nav-icon {
	width: 50px;
	position: absolute;
	top: 20px;
	right: 20px;
	border:2px solid #fff;
	padding:5px 0px;
	border-radius: 25px;
	transform: scale(.9);
	cursor: pointer;
}

.nav-icon-bar {
	width: 50%;
	height: 2px;
	background:#fff;
	margin:8px auto;
}

section > div.mission {
	display: block;
	margin: 0px;
	clear: both;
	height: 30em;
	margin-bottom: 0px;
	padding-left: 20px;
}

div.mission > .left-block-t {
	display: inline-block;
	float: left;
	position: relative;
	padding: 10px;
	background-color: #2e3230;
	width: 40%;
	height: 30em;
	margin-right: 0px;

}

div.mission > .left-block-t:after {
	content: "";
	position: absolute;
	right: -55px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 55px solid #2e3230;
    border-top: 250px solid transparent;
    border-bottom: 250px solid transparent;
}

div.mission > .left-block-t:before {
	 content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 50px solid #eee;
    border-top: 250px solid transparent;
    border-bottom: 250px solid transparent;
}

div.mission .right-block-t {
	display: inline-block;
	float: right;
	padding: 10px;
	width: 49%;
	height: 30em;
	margin-left: 0px;
}	

section > div.vision {
	display: block;
	clear: both;
	height: 30em;
	margin-top: 0px;
	padding-right: 20px;
	border-top: 2px solid #dee5e7;
}

div.vision .left-block-b {
	display: inline-block;
	float: left;
	padding: 10px;
	background-color: #eee;
	width: 47.5%;
	height: 30em;
	margin-right: 0px; 
}

div.vision .right-block-b {
	display: inline-block;
	position: relative;
	float: right;
	background-color: #2e3230;
	padding: 10px;
	width: 40%;
	height: 30em;
	margin-left: 0px;
}

div.vision .right-block-b:before {
	content: "";
	position: absolute;
	left: -55px;
	bottom: 0;
	width: 0;
	height: 0;
	border-right: 55px solid #2e3230;
    border-top: 250px solid #eee;
    border-bottom: 250px solid #eee;
}

div.vision .right-block-b:after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-right: 50px solid #eee;
    border-top: 250px solid transparent;
    border-bottom: 250px solid transparent;
}

.vision-hd, .mission-hd {
	color: #eee;
	font-size: 67px;
	margin-top: 185px;
	margin-left: 85px;
}

.vision-bd, .mission-bd {
	margin-top: 185px;
	margin-left: 55px;
}

.navigation-menu {
	z-index: 5;
	top: 15em;
	display: block;
	position: absolute;
}

#missiontitle {
	left: -410px;
	position: relative;
	transition-property: left;
	transition-duration: 0.7s;
}

#visiontitle {
	right: -410px;
	position: relative;
	transition-property: right;
	transition-duration: 0.7s;
}

.desktop {
	display: block;
	position: relative;
	left: 13em;
}

.mission, .vision {
	font-family: 'Lato',arial,sans-serif;
}

.desktop div {
	display: inline-block;
	margin-left: 3em;
	margin-right: 3em;
	color: #eee;
	font-size: 21px;
}

.desktop div a {
	text-decoration: none;
	color: #eee;
	font-family: 'Lato',arial,sans-serif;
}

.mobile {
	display: none;
} 

@media (max-width: 768px) {
	*:before, *:after {
		display: none;
	}

	#missiontitle {
		left: 0;
	}

	#visiontitle {
		right: 0;
	}

	.header{
	height: 55vh;
	width: auto;
	background: linear-gradient(
      rgba(10, 10, 10, 0.6), 
      rgba(10, 10, 10, 0.6)
    ),url(../image/bus.jpg) no-repeat center;
	background-size: cover;
	display: block;
	}
	
	.header > .title {
	display: block;
	position: relative;
	left: 30%;
	top: 2.5em;
	}

	.title span {
	color:#fff;
	text-align: center;
	padding-top: 30px;
	font-size: 27px;
	font-family: 'Lato', sans-serif;
	}

	section > div.mission, section > div.vision {
		margin: 0px;
		clear: both;
		padding: 0;
		height: 10em;
	}

	div.mission .left-block-t {
		clear: both;
		width: 100%;
	}

	div.mission .right-block-t {
		clear: both;
		width: 100%;
		height: 13em;
	}

	div.vision .left-block-b {
		clear: both;
		width: 100%;
		height: 13em;
	}

	div.vision .right-block-b {
		clear: both;
		width: 100%;
	}

	div.mission .left-block-t,
	div.vision .right-block-b {
		height: 3em;
	}

	.vision-hd {
		font-size: 16px;
		margin-top: 10px;
		margin-left: 130px;
	}

	.mission-hd {
		font-size: 16px;
		margin-top: 10px;
		margin-left: 105px;
	}

	.mission-bd {
		margin-top: 13px;
	}

	.vision-bd {
		padding-right: 10px;
		margin-top: 13px;
	}
}

@media (max-width: 992px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
		position: absolute;
		width: 100%;
		z-index: 1;
		top: -160px;
		padding-top: 10px;
		padding-left: 10px;
	}

	.mobile div {
		display: block;
		position: relative;
		clear: both;
		margin-top: 7px;
		text-align: center;
		left: -130px;
		width: 7em;
		transition: left 0.5s;
		transition-timing-function: ease-in;
	}

	.mobile div a, .mobile div i {
		text-decoration: none;
		color: #eee;
	}


	/******
	these style changes the margin on mobile devices
	******/
	
	div.mission-bd {
	margin-left: 30px !important;
	}

	div.vision-bd{
	margin-left: 10px !important;
	}

}